input[id="menuicon"] {
    display: none;
}

    input[id="menuicon"] + label {
        display: block;
        margin-top: 10px;
        margin-left: 30px;
        width: 50px;
        height: 40px;
        position: absolute;
        cursor: pointer;
    }

        input[id="menuicon"] + label span {
            display: block;
            position: absolute;
            width: 100%;
            height: 5px;
            border-radius: 30px;
            background: #0F49BE;
            transition: all .35s;
        }

            input[id="menuicon"] + label span:nth-child(1) {
                top: 0;
            }

            input[id="menuicon"] + label span:nth-child(2) {
                top: 50%;
                transform: translateY(-50%);
            }

            input[id="menuicon"] + label span:nth-child(3) {
                bottom: 0;
            }

    input[id="menuicon"]:checked + label {
        z-index: 2;
    }

        input[id="menuicon"]:checked + label span {
            background: #fff;
        }

            input[id="menuicon"]:checked + label span:nth-child(1) {
                top: 50%;
                transform: translateY(-50%) rotate(45deg);
            }

            input[id="menuicon"]:checked + label span:nth-child(2) {
                opacity: 0;
            }

            input[id="menuicon"]:checked + label span:nth-child(3) {
                bottom: 50%;
                transform: translateY(50%) rotate(-45deg);
            }

div[class="sidebar"] {
    width: 200px;
    height: 100%;
    background: #0F49BE;
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 1;
    transition: all .35s;
}

input[id="menuicon"]:checked + label + div {
    left: 0;
}

.sidebar a {
    display: block;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 1.3em;
    color: #fff;
    text-decoration:none;
}

#sidebar_margin {
    margin-top: 100px;
}

nav {
    height: 10%;
    background-color: cornflowerblue;
}

header {
    color: #707070;
    /* background-color: darkgray;*/
    border: solid 4px #707070;
    line-height: 80px;
    text-align: center;
}

.head_bottom {
    height: 16%;
    display:flex;
    margin-top: 10px;
}

main {
    height: 82%;
}

#left {
    width: 10%;
    height: 300%;
    float: left;
}

#right {
    width: 10%;
    height: 300%;
    float: right;
}

#l_block {
    width: 50%;
    margin-bottom: 40px;
    float: left;
}

#r_block {
    width: 30%;
    float: right;
    height: 40%;
    margin-top: 20px;
    margin-bottom: 40px;
}

#block1 {
    height: 40%;
    width: 80%;
    float: left;
    margin-top: 10px;
    display: block;
}
 #block3 {
    width: 80%;
    float: left;
    margin-top: 10px;
    display: block;
}

#logo {
    display: block;
    margin: 0px auto;
    width: 20.0em;
}

.buts {
    width: 70%;
    height: 95%;
    /*border: solid 2px gray;*/
    display: block;
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.button {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #0f49be;
    border-bottom: 5px solid #165195;
    padding: 5px 15px 5px 15px;
    display: block;
    margin: 15px;
    padding: 15px;
    cursor: pointer;
    transition: all 0.1s;
    text-shadow: 0px -2px rgba(0,0,0,0.44);
}

    .button:active {
        transform: translateY(5px);
        border-bottom: 2px solid #165195;
    }

.imgbox {
    width: 100px;
    height: 100px;
    border-radius: 70%;
    /* margin-right: 100px; */
}

.bl1 {
    width: 100%;
    height: 50%;
    margin-bottom : 20px;
}
.bl3 {
    width: 100%;
    margin-bottom : 20px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    margin: 0px;
}

body {
    background-color: #F6F6F6;
}

input[id="menuicon"] {
    display: none;
}

.data_list {
    width: 100%;
    margin:0px;
    padding:0px;
    text-align: center;
}
.data_list td {
    border:0px;
    width:25%;
    padding:20px;
    font-size: larger;
    font-weight: 900;
}

#map {
    border: solid 4px #165195;
    width: 100%;
    height: 500px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
    z-index:0;
}

#distance {
    border: 2px solid white;
    width: 100%;
    height: 50px;
    text-align: center;
    font-weight:bolder;
    background-color: mediumaquamarine;
    border-collapse : collapse;
    table-layout:fixed;
}
    #distance td {
        font-size: 1.1em;
        border: 3px solid white;
        font-weight: bold;
        color: aliceblue;
    }
    caption {
        font-size:2em;
        font-weight:bolder;
        margin-bottom: 10px;
    }
